.app_container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

table {
  border-collapse: collapse;
}

td,
th {
  text-align: left;
}

tr {
  border-bottom: solid 1px lightgray;
}

footer {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
}

select {
  font-size: 1rem;
  padding: 10px;
  border: solid 2px black;
  border-radius: 5px;
}

button {
  width: 5rem;
  padding: 10px;
  cursor: pointer;
  font-weight: 600;
  font-size: 1rem;
}
